<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
</head>
<body>
<h1>Hello, Biden!</h1>

{% if user.is_authenticated %}
<p style="font-size:2vw;">Вітаємо Вас, {{ user.username }}!</p><br>
<p style="font-size:2vw;"><a href="products/">Оголошення</a></p><br>
<a href="{% url 'logout' %}" style="font-size:2vw;">Вийти з акаунту</a>
{% else %}
<p style="font-size:2vw;">Ви не ввійшли в акаунт. Для створення оголошення увійдіть в існуючий акаунт або створіть новий</p><br>
<a href="{% url 'login' %}" style="font-size:2vw;">Вхід</a><br>
<a href="/accounts/signup/" style="font-size:2vw;">Створити новий акаунт</a>
{% endif %}

<!--
<form action="" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Submit</button>
</form>
-->
</body>
</html>