<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
</head>
<body>
<h1>Hello, Biden!</h1>

{% if user.is_authenticated %}
<p style="font-size:2vw;">Welcome, {{ user.username }}</p><br>
<a href="{% url 'logout' %}" style="font-size:2vw;">Log Out</a>
{% else %}
<p style="font-size:2vw;">Not logined. For checking table of information you must be logined</p><br>
<a href="{% url 'login' %}" style="font-size:2vw;">Log In</a><br>
<a href="/accounts/signup/" style="font-size:2vw;">Sign Up</a>
{% endif %}

<!--
<form action="" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Submit</button>
</form>
-->
</body>
</html>