{% include 'base/base.html' %}
{% include 'base/header.html' %}
{% block header %}{% endblock %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito">
<link rel="stylesheet" href="{% static 'style/login_style.css' %}">

<form method="post" class="form-control">
    {% csrf_token %}
    <input type="text" name="username" autocapitalize="none" autocomplete="username" maxlength="150" placeholder="Username" required="required" id="id_username">
    <input type="password" name="password" autocomplete="current-password" placeholder="Password" required="required" id="id_password"><br>
    <button type="submit" class="btn">Sign in</button>
    <div class="form-footer"><span>Don't have an account?</span>  <a href="#">Sign up here</a></div>
</form>

{% endblock %}