body {
	background: #e0e0e1;
}
.form-control {
	font-size: 16px;

}
.form-control:focus {
	border-color: #fff;
}
.form-control, .btn {
	border-radius: 50px;
	outline: none !important;
}
.login-form {

	width: 400px;
	margin: 0 auto;
	padding: 30px 0;
}
.login-form form {
	border-radius: 50px;
	margin-bottom: 20px;
	background: #85c1e9;
	box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
	padding: 40px 50px;
	margin-top: 50px;
}
.login-form .btn {
	font-size: 18px;
	line-height: 26px;
	font-weight: bold;
	text-align: center;
}

.login-form .btn {
	font-size: 18px;
	line-height: 26px;
	font-weight: bold;
	text-align: center;
}

.btn-color {
	border-color: #6495ed;
	background-color: #6495ed;
}

.btn-color:hover {
	border-color: #ccccff;
	background-color: #ccccff;
}

.login-form a {
	color: #fff;
}
